<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynatrace.sampleAndroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_dynatrace_shamrockgreen_700"
        android:roundIcon="@drawable/ic_dynatrace_shamrockgreen_700"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dynatrace.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".InstrumentationActivity"
            android:label="@string/title_activity_instrumentation"
            android:theme="@style/Theme.Dynatrace.Light.Uem"
            android:parentActivityName=".MainActivity"/>


        <activity
            android:name=".ConceptsActivity"
            android:label="@string/title_activity_concepts"
            android:theme="@style/Theme.Dynatrace.Light"
            android:parentActivityName=".MainActivity"/>


    </application>

</manifest>